@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Qahiri&display=swap');
.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border: 2px solid black;
}
.addItems {
    padding: 15px;
    margin: 3px;
    background: rgb(240, 173, 173);
}
.addItems form {
    margin: 0px 0px 0px 220px;
}
.addItems form label {
    text-align: center;
    margin-left: 65px;
    font-size: 25px;
    /* font-weight: bold; */
    font-family: 'Permanent Marker', cursive;
}
.addItems form #addItem {
    border: none;
    outline: none;
    border-bottom: 2px solid darkblue;
    background: transparent;
    padding: 8px 12px;
    min-width: 250px;
    font-size: medium;
}
.addItems form #addItem:focus {
    background: rgb(248, 253, 253);
    border-radius: 12px 0px 12px 0px;
}
.addItems form button {
    padding: 5px 12px;
    border: 2px solid darkblue;
    border-radius: 25px;
    color: darkblue;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}
.displayItems {
    padding: 15px;
    margin: 3px;
    background: rgb(175, 240, 240);
}
li {
    list-style: none;
}